<section class="hero-container">
    <hr />
    <h1 class="hero">The Blog</h1>
    <hr />
</section>

<style>

.hero-container {
    padding: 0 40px;
    margin-top: 20px;
}

.hero {
    font-size: 150px;
    text-align: center;
}

hr {
    height: 3px;
    background-color: #000;
    opacity: 0.3;
}

</style>
